
{{#if items.c_type}}

  <meta charset="UTF-8">
<div class="all-content">
    <div class="nav-admin">
      <div class="rit">
           <a href="/pages/creators-profile"><p style="font-size: small;">Admin {{items.c_name}}</p><i class="far fa-user-circle fa-2x"><br/></i></a>
        </div>
        <div class="lft">
            <a href="/pages/creators-logout"> <i class="fas fa-sign-out-alt fa-2x"></i></a>
            <a href="#"><i class="far fa-bell fa-2x"></i></a>
            <button id="show" class="add-send" onclick="ch()"><i class="fa-solid fa-plus fa-2x"></i></button>
        </div>
    </div>
      
      <div class="requests">
        {{#each error}}
                <ul class="erroaddBook">
                    <li>{{this}}</li>
                </ul>
                {{/each}}
            
          <form action="addRequest" method="POST" class="form-requests">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label" dir="rtl">عنوان الطلب</label><br/>
                <input type="text" class="form-control" id="exampleInputEmail1" name="title"
                    aria-describedby="emailHelp">
             </div>  
             <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" dir="rtl">تفاصيل الطلب</label><br/>
                <textarea type="text-area" class="form-control" name="content" id="exampleInputPassword1"></textarea>
            </div>
             <div class="mb-3">
              <input type="hidden" class="form-control" name="sender" value="{{items.c_name}}">
             </div><br/>
            <button type="submit" class="btn btn-primary">ارسال</button>
          </form>
      </div>


    <div class="reports">
        <div class="card">
            <div class="card-header " dir="rtl">
                محررين جدد
            </div>
            <div class="card-body">
                <h5 class="card-title" dir="ltr"> إضافة محرر جديد</h5>
                <a href="/pages/creators-addUser" class="btn btn-primary">هنا</a>
            </div>
        </div>

    </div>

    <div class="reports">

        <div class="card">
            <div class="card-header " dir="rtl">
                المحررين
            </div>
            <div class="card-body">
                <h5 class="card-title" dir="ltr">معلومات المحررين</h5>
                <a href="/pages/creators-publishers" class="btn btn-primary">هنا</a>
            </div>
        </div>


    </div>


    <div class="reports">

        <div class="card">
            <div class="card-header " dir="rtl">
                  الطلبات
            </div>
            <div class="card-body">
                <h5 class="card-title" dir="ltr">جديدطلبات المحررين</h5>
                <a href="#" class="btn btn-primary">هنا</a>
            </div>
        </div>


    </div>


    <div class="reports">

        <div class="card">
            <div class="card-header " dir="rtl">
                المقاييس و الاختبارات
            </div>
            <div class="card-body">
                <h5 class="card-title" dir="ltr">تقارير الاختبارات و المقاييس</h5>
                <p class="card-text" dir="rtl">تحديث مستمر عن حصيلة الاختبارات و المقاييس  و المشاهدة و الاعجاب</p>
                <a href="/pages/book-reports" class="btn btn-primary">هنا</a>
            </div>
        </div>


    </div>

    <div class="reports">

        <div class="card">
            <div class="card-header " dir="rtl">
                 السير الذاتية
            </div>
            <div class="card-body">
                <h5 class="card-title" dir="ltr"> تقارير االسير الذاتية </h5>
                <p class="card-text" dir="rtl">تحديث مستمر عن السيرة الذاتية و المشاهدة و الاعجاب</p>
                <a href="#" class="btn btn-primary">هنا</a>
            </div>
        </div>


    </div>

    <div class="reports">

        <div class="card">
            <div class="card-header " dir="rtl">
                  المواضيع و المقالات
            </div>
            <div class="card-body">
                <h5 class="card-title" dir="ltr">تقارير المواضيع والدراسات</h5>
                <p class="card-text" dir="rtl">تحديث مستمر عن الدراسات  و المشاهدة و الاعجاب</p>
                <a href="/pages/subject-reports" class="btn btn-primary">هنا</a>
            </div>
       </div>
</div>





    <div class="left-sid">
        <ul>
            <li><a href="/pages/creators-main" dir="rtl"><b>لوحة التحكم</b><img src="../../images/dashboard.png"></a>
            </li>
            <li> <a href="/pages/creators-profile" dir="rtl"><b>بياناتي</b><br /><img src="../../images/resume.png"></a>
            </li>
            <li><a href="/pages/creators-scientists" dir="rtl"><b>الشخصيات</b><br /><img
                        src="../../images/design-thinking.png"></a></li>
            <li><a href="/pages/creators-subjects" dir="rtl"><b>الدراسات</b><br /><img
                        src="../../images/creative.png"></a></li>
            <li><a href="/pages/creators-book"><b>الكتب</b><br /><img src="../../images/book.png"></a></li><br/>
            <li><a href="/pages/addTest"><b>الاختبارات</b><br /><i class="fa-brands fa-readme fa-2x"></i></i></a></li>

        </ul>
    </div>


     <div class="footer-creator">
        <div class="rit">
            <a href="/pages/creators-profile">
            </a>
        </div>
        <div class="lft">
            <a href="/pages/creators-book"><i class="fa-solid fa-book fa-2x"></i></a>
            <a href="/pages/creators-scientists"><i class="fa-solid fa-file-contract fa-2x"></i></a>
            <a href="/pages/creators-scientists"><i class="fa-solid fa-users fa-2x"></i></a>
            <a href="/pages/creators-main" class="add-send"><i class="fa-solid fa-table-columns fa-2x"></i></a>
        </div>
    </div>
    

</div>
<script src="/javascripts/lightMode.js"></script>
  


{{/if}}
 {{#if items.author}}
 <meta charset="UTF-8">
<div class="all-content">
    <div class="nav-admin">
      <div class="rit">
           <a href="/pages/creators-profile"><p style="font-size: small;">Admin {{items.c_name}}</p><i class="far fa-user-circle fa-2x"><br/></i></a>
        </div>
        <div class="lft">
            <a href="/pages/creators-logout"> <i class="fas fa-sign-out-alt fa-2x"></i></a>
            <a href="#"><i class="far fa-bell fa-2x"></i></a>
            <button id="show" class="add-send" onclick="ch()"><i class="fa-solid fa-plus fa-2x"></i></button>
        </div>
    </div>
      
      <div class="requests">
          <form action="/pages/updateSubject" method="post" class="form-requests">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label" dir="rtl">عنوان الطلب</label><br/>
                <input type="text" class="form-control" id="exampleInputEmail1" name="title"
                    aria-describedby="emailHelp">
             </div>  
             <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" dir="rtl">تفاصيل الطلب</label><br/>
                <textarea type="text-area" class="form-control" name="content" id="exampleInputPassword1"></textarea>
            </div>

              <input type="text" class="form-control" id="exampleInputEmail1" name="id"
                    aria-describedby="emailHelp" value="{{items.c_name}}" disabled>
          </form>
      </div>


    <div class="reports">

        <div class="card">
            <div class="card-header " dir="rtl">
                الكتب
            </div>
            <div class="card-body">
                <h5 class="card-title" dir="ltr">تقارير الكتب</h5>
                <p class="card-text" dir="rtl">تحديث مستمر عن حصيلة الكتب و المشاهدة و الاعجاب</p>
                <a href="#" class="btn btn-primary">هنا</a>
            </div>
        </div>

    </div>

    <div class="reports">

        <div class="card">
            <div class="card-header " dir="rtl">
                الدراسات
            </div>
            <div class="card-body">
                <h5 class="card-title" dir="ltr">تقارير الكتب</h5>
                <p class="card-text" dir="rtl">تحديث مستمر عن حصيلة الكتب و المشاهدة و الاعجاب</p>
                <a href="/pages/book-reports" class="btn btn-primary">هنا</a>
            </div>
        </div>


    </div>


    <div class="left-sid">
        <ul>
            <li><a href="/pages/creators-main" dir="rtl"><b>لوحة التحكم</b><img src="../../images/dashboard.png"></a>
            </li>
            <li> <a href="/pages/creators-profile" dir="rtl"><b>بياناتي</b><br /><img src="../../images/resume.png"></a>
            </li>
            <li><a href="/pages/creators-scientists" dir="rtl"><b>الشخصيات</b><br /><img
                        src="../../images/design-thinking.png"></a></li>
            <li><a href="/pages/creators-subjects" dir="rtl"><b>الدراسات</b><br /><img
                        src="../../images/creative.png"></a></li>
            <li><a href="/pages/creators-book"><b>الكتب</b><br /><img src="../../images/book.png"></a></li><br/>

        </ul>
    </div>

     <div class="footer-creator">
        <div class="rit">
            <a href="/pages/creators-profile">
            </a>
        </div>
        <div class="lft">
            <a href="/pages/creators-book"><i class="fa-solid fa-book fa-2x"></i></a>
            <a href="/pages/creators-scientists"><i class="fa-solid fa-file-contract fa-2x"></i></a>
            <a href="/pages/creators-scientists"><i class="fa-solid fa-users fa-2x"></i></a>
            <a href="/pages/creators-main" class="add-send"><i class="fa-solid fa-table-columns fa-2x"></i></a>
        </div>
    </div>



</div>


<script src="/javascripts/sending.js"></script>
  <script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'advlist autolink lists link image charmap preview anchor pagebreak',
      toolbar_mode: 'floating',
       width : "300",
       height: "300"
    });
  </script>

<script src="/javascripts/lightMode.js"></script>

{{/if}}

