<div class="book-details">
   {{#each items}}
   <title>{{this.name}}</title>
   <img src="/images/{{this.pic}}" class="rounded-circle" width="304" height="236" alt="Card image cap">
   <h5 class="card-title">{{this.name}}</h5>
   <p class="card-text">{{{this.content}}}</p>

    
    <a href="/pages/ScientistLike/{{this._id}}" style="border:none;cursor: pointer; float:left;"><i class="fa-brands fa-gratipay fa-x2" style="margin:5px;float: left;"></i></a>
   {{/each}}




</div>
<script src="/javascripts/contentActions.js"></script>