<title>{{title}}</title>

<div  id="Main-Card" class="card mb-3">
    <img class="card-img-top" src="/images/pexels-olenka-sergienko-3646172.jpg" width="10px" height="300px" alt="Card image cap">
    <div class="card-body" dir="rtl">
        <h5 class="card-title">كن على دراية بسير علماء النفس و أطباءه</h5>
        <p class="card-text">حتى نكون واعياُ تماماُ فيما يخص علم نفس، فلا بد أن نكون مطلعين على أطباء علم و نفس و تحليله</p>
    </div>
</div>

<div class="container">
    <div class="row">
            {{#each items}}
        <div class="col">
          <div class="Sub-frame">
          <img src="/images/{{this.pic}}" width="200" class="rounded-circle" height="336px" alt="Card image cap" ><br>
          <span class="Sub-title">{{this.name}}</span><br/>
          <span class="Scientist-title"><i class="fa-brands fa-gratipay fa-x2" style="margin:5px;"></i>:{{this.likes}}</span><br/>
            <a href="/pages/scientists-detales/{{this._id}}" id="link-sub"><p>اقرأ</p></a>
            </div>
        </div>
            {{/each}}    
    </div>
</div>