<title>{{title}}</title>

<div id="Main-Card" class="card mb-3">
  <img class="card-img-top" src="/images/pexels-anna-shvets-4226119.jpg" width="10px" height="300px"
    alt="Card image cap">
  <div class="card-body" dir="rtl">
    <h5 class="card-title">عالم من الإضطرابات</h5>
    <p class="card-text">ستغوص هنا في عالم من الإضطرابات التي قد لا تصدق أن تكون موجودة ، و أن هناك أشخاص يعانون منها
      ليلا نهارا ! </p>
  </div>
</div>


<div class="container">
    <div class="row">
            {{#each items}}
        <div class="col">
          <div class="Sub-frame">
          <img src="/images/{{this.pic}}" width="200"  height="336px" alt="Card image cap" ><br>
          <span class="Sub-title">{{this.title}}</span><br/>
          <span class="Scientist-title"><i class="fa-brands fa-gratipay fa-x2" style="margin:5px;"></i>:{{this.likes}}</span><br/>
             <a href="/pages/subject-detales/{{this._id}}" id="link-sub"><p>اقرأ</p></a>
            </div>
        </div>
            {{/each}}    
    </div>
</div>
